<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>{{ stylist.getStylistName }}</title>
    </head>
    <body>
        <div class='container'>
            <h1><a href="/stylist/{{ stylist.getId }}/edit">{{ stylist.getStylistName }}'s</a> Clients:</h1>
            <p>*click name to edit*</p>


            {% if clients is not empty %}

                {% for client in clients %}
                    <h3><a href="/client/{{ client.getId }}/edit">{{ client.getClientName }}</a></h3>
                {% endfor %}

            {% else %}
                <h2>No clients added yet!</h2>

            {% endif %}

            <h2>Add a Client</h2>

            <form action='/clients' method='post'>
                <div class='form-group'>
                    <input type='hidden' name='stylist_id' value='{{ stylist.getId }}'>

                    <input type='text' class='form-control' name='client_name' placeholder='Client Name'>

                </div>
                <button class='btn btn-info' type='submit'>Add Client</button>
            </form>
            <form action="/stylist/{{ stylist.getId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">

                <button class="btn btn-danger btn-xs" type="submit">DELETE STYLIST</button>
            </form>

            <form action="/delete_clients" method="post">
                <button type="submit" class="btn btn-danger btn-xs">DELETE ALL CLIENTS</button>
            </form>

            <p><a href='/'>Home</a></p>

        </div>
    </body>
</html>
