<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>{{ stylist.getStylistName }}</title>
    </head>
    <body>
        <div class='container'>
            <h1>{{ stylist.getStylistName }}'s Clients:</h1>

            {% if clients is not empty %}

                {% for client in clients %}
                    <h3><a href="/client/{{ client.getId }}/edit">{{ client.getClientName }}</a></h3>
                {% endfor %}

            {% else %}
                <p>No clients added yet!</p>

            {% endif %}

            <h2>Add a Client</h2>

            <form action='/clients' method='post'>
                <div class='form-group'>
                    <input type='hidden' name='stylist_id' value='{{ stylist.getId }}'>

                    <input type='text' class='form-control' name='client_name' placeholder='Client Name'>
                    <button class='btn btn-info' type='submit'>Add Client</button>
                </div>
            </form>
            <form action="/stylist/{{ stylist.getId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">

                <button class="btn btn-danger btn-xs" type="submit">DELETE STYLIST</button>
            </form>

            <p><a href='/'>Home</a></p>

        </div>
    </body>
</html>
